<div class="min-h-screen bg-gradient-to-br from-primary/20 to-secondary/20 flex items-center justify-center p-4">
  <div class="card w-full max-w-md shadow-xl bg-base-100">
    <div class="card-body">
      <div class="flex flex-col items-center mb-6">
        <div class="w-20 h-20 rounded-full bg-primary/20 flex items-center justify-center mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
          </svg>
        </div>
        <h2 class="text-2xl font-bold text-center">¡Hola de nuevo!</h2>
        <p class="text-sm text-base-content/70">Nos alegra verte por aquí</p>
      </div>
      <form>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Correo electrónico</span>
          </label>
          <input type="email" [formControl]="email" placeholder="tu@email.com" class="input input-bordered" required />
        </div>
        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text">Contraseña</span>
          </label>
          <div class="relative">
            <input [type]="showPassword ? 'text' : 'password'" [formControl]="password" placeholder="••••••••" class="input input-bordered w-full pr-12" required />
            <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 px-2 flex items-center">
              <i *ngIf="!showPassword" class="fas fa-eye text-gray-500"></i>
              <i *ngIf="showPassword" class="fas fa-eye-slash text-gray-500"></i>
            </button>
          </div>
        </div>
        <div class="form-control mt-6">
          <button (click)="login()" class="btn btn-primary">
            Entrar
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
          </button>
        </div>
      </form>
      <div class="divider">o</div>

      <p class="text-center mt-6 text-sm">z
        ¿No tienes una cuenta? <a [routerLink]="['/register']" class="link link-primary">Regístrate</a>
      </p>
    </div>
  </div>
</div>
