<div
  class="hero min-h-screen bg-base-200">
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <div class="avatar">
        <div class="w-24">
          <img src="https://static.thenounproject.com/png/1978204-200.png" />
        </div>
      </div>
      <h1 class="mb-5 text-5xl font-bold text-black">¡Bienvenido!</h1>
      <p class="mb-5 text-lg font-bold text-black">
        Empieza a mensajear de manera segura
      </p>
      <div class="flex flex-col space-y-4">
        <a [routerLink]="['/login']"class="btn bg-black border-black text-white">Iniciar sesión</a>
        <a [routerLink]="['/register']" class="btn bg-gray-700 text-white">Registrarse</a>
      </div>
    </div>
  </div>
</div>
